DOCTYPEbodyheadpstyle stylelink href refstyle stylepfont sizestyle stylehead headbodybodyp {
	color: yellow;
}
bodyfont-family font-familybodydiv id myUniqueElementcolorfont sizedivp class > highlight this.hightlight >color greenfont-weight bold>bodyhead.flex-containerdisplay flexflex-direction row /* or column */
justify-content center 
align-items center 
gap 
.flex-item {
	flex: 1;
}
classdiv class item Content Item divdiv class item Content Item divdiv class item Content Item divdiv
bodyfont-sizebackground-color lightblue
 
	
                  body {
    font-size: 16px; 
           background-color: lightblue;
}


