<Doctype>
<body>
<head>
<p>
    <style></style>
    <link href="styles.css" rel="stylesheet" type=text/css />

    <style></style>
    <p></p>
     font size: 24pt;

     <style></style>
     <head></head>

     <body>

     </body>

         p    {
      color: yellow;
    }

  <body>
    <font-family></font-family>
  </body>

  <div id="myUniqueElement">
    color: 
    font size: 40x
  </div>

</p> class="highlight"> highlight this 
     .hightlight >
     color: green;
     <font-weight: bold;

     >
